<!-- Related Posts -->
{{- $related := slice -}}
{{- $currentTags := .Params.tags -}}
{{- $currentPage := . -}}

{{- if $currentTags -}}
{{- range where site.RegularPages "Type" "in" site.Params.mainSections -}}
{{- if ne .Permalink $currentPage.Permalink -}}
{{- $matchCount := 0 -}}
{{- range .Params.tags -}}
{{- if in $currentTags . -}}
{{- $matchCount = add $matchCount 1 -}}
{{- end -}}
{{- end -}}
{{- if gt $matchCount 0 -}}
{{- $related = $related | append (dict "page" . "score" $matchCount) -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}

{{- if gt (len $related) 0 -}}
<div class="related-posts">
    <h3>📚 相关文章</h3>
    <div class="related-posts-grid">
        {{- range first 3 (sort $related "score" "desc") -}}
        <a href="{{ .page.Permalink }}" class="related-post-card">
            <h4>{{ .page.Title }}</h4>
            <time>{{ .page.Date.Format "2006-01-02" }}</time>
        </a>
        {{- end -}}
    </div>
</div>
{{- end -}}